.linkList {
  height: 34px;
  display: flex;
  align-items: center;
 
}
.list_item {
  
  font-size: 20px;
  font-weight: 600;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.link {
  text-decoration: none;
  color: rgb(62, 0, 143);
  transition-property: color;
  transition-duration: 250ms;
  &:hover{
    color: tomato;
  }
}
.activeLink {
  color: tomato;
}

.containerContent{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center
  
}
.title{
  margin-right: 20px;
}
